<!DOCTYPE html>
<html>
    <head>
       
    </head>

    <body>
        {% include 'nav_bar.html' %}

<div class="container-fluid">
    <br>
    <h1 class="custom-padding text-center">Stores Near Me</h1>
    <br>
  <div class="row">

    
      <div class="table-container">
        <!-- Content for the left half goes here -->
        <div class="d-flex flex-wrap justify-content-center">
          
          
          {% for item in mystorelist|slice:":20" %}
            {% with name=item.name %}
            {% with address=item.address %}
            {% with city=item.city %}
            {% with state=item.state %}
            <div id="{{ item.id }}">
                {% if item.name == "Ralphs" %} 
                    {% include 'storecard.html' with imagelink="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Ralphs.svg/2560px-Ralphs.svg.png" %}
                    <br>
                {% endif %}
                {% if item.name == "Food 4 Less" %} 
                    {% include 'storecard.html' with imagelink="https://s3.grocerywebsite.com/production/manual_loaded_images/2714/F4L_MASTER_4C-1-outline_comp.png" %}
                    <br>
                {% endif %}
                {% if item.name == "Foods Co" %} 
                    {% include 'storecard.html' with imagelink="https://www.foodsco.net/content/v2/binary/image/foodsco_svg_logo-desktop-1556238494829.svg" %}
                    <br>
                {% endif %}
                {% if item.name == "Walmart" %} 
                    {% include 'storecard.html' with imagelink="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/1024px-Walmart_logo.svg.png" %}
                    <br>
                {% endif %}
                {% if item.name == "Safeway" %} 
                    {% include 'storecard.html' with imagelink="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Safeway_logo.svg/1280px-Safeway_logo.svg.png" %}
                    <br>
                {% endif %}
            </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
          {% endfor %}
          
        </div>
      </div>


  </div>
</div>

        </div>
        
    </body>
</html>