<!DOCTYPE html>
<html>
    <head>
       
    </head>

    <body>
        {% include 'nav_bar.html' %}
    <table>
    <thead>
        <tr>
        <td>Name</td>
        <td>serving size</td>
        <td>ingredients</td>
        <td>directions</td>
        <td>hello</td>
        </tr>
    </thead>
    <tbody>
        {% for x in mystorelist %}
        <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.address }}</td>
        <td>{{ x.city }}</td>
        <td>{{ x.state }}</td>
        <td>{{ x.zip }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        
    </body>
</html>