<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <style>
    .round-table {
      background: linear-gradient(180deg, rgb(140, 247, 194), #1aa943); /* Blue gradient background */
      border-radius: 15px; /* Adjust the border-radius as needed */
      overflow: hidden;
    }

    .round-table th,
    .round-table td {
      border: 1px solid #fff; /* White dividing rows and columns */
      padding: 10px; /* Adjust padding as needed */
      text-align: center;
    }
    .table-container {
      max-height: 80vh; /* Set a maximum height for the table container */
      overflow-y: auto; /* Enable vertical scrollbar */
    }

    .custom-padding {
      padding-top: 20px; /* Adjust the padding as needed */
    }

    .bottom-row {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: lightgray; /* Optional styling */
    }
    
  </style>
  <script>
    
    function calculateCost(){
      var table = document.getElementById('attributeTable');
      var rows = table.getElementsByTagName('tr');
      var sum = 0;

      for (var i = 1; i < rows.length; i++) { // Start from index 1 to skip header row
        var cells = rows[i].getElementsByTagName('td');

        for (var j = 2; j < cells.length; j++) { // Start from index 1 to skip first column
          var cellValue = parseFloat(cells[j].textContent.substring(1)) || 0; // Convert to integer, default to 0 if not a valid number
          sum += cellValue;
        }
      }

      var attributeRow = document.createElement('tr');
      var totalPrice = document.createElement('td');
      var realPrice = document.createElement('td');

      totalPrice.innerHTML = "Total Price"
      realPrice.innerHTML = "$"+sum.toFixed(2)

      attributeRow.appendChild(totalPrice);
      attributeRow.appendChild(realPrice);

      document.querySelector('#attributeTable tbody').appendChild(attributeRow);
    }
    
    function displayType(text){
      information = showAlert(text)

      name = information[0]
      price = information[1]

      var attributeRow = document.createElement('tr');
      var storeAttritubeElement = document.createElement('td');
      var itemAttritubeElement = document.createElement('td');
      var priceAttritubeElement = document.createElement('td');

      storeAttritubeElement.innerHTML = "Walmart"
      itemAttritubeElement.innerHTML = name
      priceAttritubeElement.innerHTML = "$"+price

      attributeRow.appendChild(storeAttritubeElement);
      attributeRow.appendChild(itemAttritubeElement);
      attributeRow.appendChild(priceAttritubeElement);

      document.querySelector('#attributeTable tbody').appendChild(attributeRow);
      calculateCost()
    }

    function showAlert(text) {
      var div_element = document.getElementById(text);
      var name = div_element.querySelector("#name").innerHTML;
      var price = div_element.querySelector("#price").innerHTML;
      price = price.substring(1);
      var table = document.getElementById('attributeTable')
      var lastRowIndex = table.rows.length - 1;
      table.deleteRow(lastRowIndex)
      return [name,price]
    }

    function tester(text)
    {
      var div_element = document.getElementById(text);
      var price = div_element.querySelector("#value").innerHTML;
      var name = div_element.querySelector("#name").innerHTML;
      var category = div_element.querySelector("#category").innerHTML;
      var quantity = "1";
      var originalPrice = price;
      var array_items = [category,name,price,quantity,originalPrice];
      array_items = JSON.stringify(array_items);
      var key = new Date().getTime();
      var dynamicKey = 'data_' + key;
      sessionStorage.setItem(dynamicKey, array_items);
      alert("Item has been added to Shopping Cart");
    }
    
  </script>
</head>

<body>
{% include 'nav_bar.html' %}
<h1 class="custom-padding text-center">Grocery List</h1>
<br>
<div class="container-fluid">
  <div class="row">
      <div class="table-container">
          <div class="d-flex flex-wrap justify-content-center">
            {% if mygrocerylist %}
              {% for item in mygrocerylist %}
                {% with type=item.type %}
                {% with name=item.name %}
                {% with price=item.price %}
                {% with id=item.id %}
                {% with quantity=item.quantity %}
                {% with image_url=item.imagelink %} <!-- Added image_url variable -->
                  <div id="{{ item.id }}">
                    {% include 'card.html' with image_source=image_url category=type product_name=name price=price id=id unit=quantity %}
                     <br>
                   </div>
                  {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
              {% endfor %}
            {% endif %}
        </div>
    
        <br>
      <div class="d-flex flex-wrap justify-content-center">
      {% if mygrocerylist.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination" >
              {% if mygrocerylist.has_previous %}
                    <a href="?page={{ mygrocerylist.previous_page_number }}" class="btn btn-success">&laquo;</a>
              {% endif %}
              {% if mygrocerylist.has_next %}
                    <a href="?page={{ mygrocerylist.next_page_number }}" class="btn btn-success">&raquo;</a>
              {% endif %}
            {% else %}
              <p>No items found.</p>
      {% endif %}
      </div>
    </div>
    <br>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
