<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
          <link rel="stylesheet" href="grocerylist/templates/styles.css">
          <style>
          body {
            font-family: 'Quicksand', Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        </style>
      </head>
<body>
    {% include 'nav_bar.html' %}
<h1>Recipe List</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>serving size</td>
      <td>ingredients</td>
      <td>directions</td>
    </tr>
  </thead>
  <tbody>
    {% for x in myrecipelist %}
    <tr>
      <td>{{ x.name }}</td>
      <td>{{ x.servingsize }}</td>
      <td>{{ x.ingredients_list }}</td>
      <td>{{ x.directions }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>
